<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body class="ga-image">
    <h1 class="h1-tag">
        ✏️ Add A New Instructor ✏️
    </h1>
    <div style="width: 100%; ; display: inline;">
        <form style="text-align: center;" class="new-buttons" action="/" method="POST">
        
        IMAGE <input type="text" name="img" placeholder="instructor's image">
        NAME<input type="text" name="name" placeholder="instructor's name"> 
        TITLE<input type="text" name="title" placeholder="instructor's title">
    </div>

    <!-- Optional: <br> -->
    <h1>
        <a style="text-align: center;" href="/"><button class="btn">Add Instructor</button></a>
    </h1>
</form>
</body>
</html>