<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <h1 class="h1-tag">
        ✏️ Add A New Instructor ✏️
    </h1>
    <form class="new-buttons" action="/" method="POST">
    
    <h1>IMAGE <input type="text" name="img" placeholder="instructor's image"><br>
    NAME<input type="text" name="name" placeholder="instructor's name"> <br>
    TITLE<input type="text" name="title" placeholder="instructor's title"><br>
    </h1>

    <!-- Can't connect Optional rating to stick -->
    <!-- Optional: <br> -->
    <h1>
        <a href="/"><button>Add Instructor</button></a>
    </h1>
    <!-- Would you like to add a rating? <br>
    Rate 1-5 <input type="Number" name="rating" min="1" max="5"><br>
    <input type="text" name="review" placeholder="Why this rating?"><br> -->
</form>
</body>
</html>